body {

}

/*
div {
	outline: 1px solid gray;
}
*/


.row {
	padding-top: 15px;
	padding-bottom: 15px;
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 600px) {
	body {
		background-color: red;
	}
}
